@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: #fff;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* レイアウト */
.wrapper {
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
}
.align-center {
    text-align: center;
}

/* 見出し */
.font-Japanese {
    font-family: 'Mochiy+Pop+One', sans-serif;
    font-weight: normal;
}

.page-title,
.heading-large,
.heading-medium {
    font-size: 3rem;
    text-align: center;
}
.page-title {
    margin-top: 2rem;
    line-height: 1.4;
}
.heading-large {
    margin-bottom: 1rem;
}

/* ボタン */
.btn {
    display: inline-block;
    font-size: 2rem;
    background-color: rgba(146, 199, 78, 0.89);
    color: #fff;
    border-radius: 8px;
    padding: .75rem 1.5rem;
    transition: .5s;
}
.btn:hover {
    background-color: green;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;
}
.main-nav a {
    color: #fff;
}
.main-nav a:hover {
    color: greenyellow;
}

/* ヘッダーカバー画像
------------------------------- */
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 800px;
}

.sub-cover {
    background-size: cover;
    background-position: center bottom;
    height: 528px;
    margin-bottom: 0rem;
}

/* HOME
------------------------------- */
.cover-home {
    background-image: url(カバーホーム1.png);
}
.about {
    max-width: 830px;
    font-size: 1.5rem;
    padding: 0 1.5rem;
    margin: 3rem auto 0;
    line-height: 2;
    text-align: center;
}
.about p {
    margin-bottom: 3rem;
}

/* DRINK
------------------------------- */
.cover-drink {
    background-image: url(カバードリンク.png);
}
.about {
    margin: 4rem auto 0;
}

.grid {
    display: grid;
    gap: 2rem 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
.item img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
}
.item p {
    font-size: 1.5rem;
}

/* SWEETS
------------------------------- */
.cover-sweets {
    background-image: url(カバースイーツ.png);
}
.about {
    margin: 4rem auto 0;
}

.grid {
    display: grid;
    gap: 2rem 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
.item img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
}
.item p {
    font-size: 1.5rem;
}

/* フッター
------------------------------- */

.page-footer {
    background-image: url(フッター1.jpeg);
    background-size: cover;
    background-position: center;
    padding-top: 5rem;
}

/* デスクトップ版
------------------------------- */
@media (min-width: 800px) {
    /* 見出し */
    .page-title {
        font-size: 5rem;
    }
    .heading-large {
        font-size: 4rem;
    }

    /* HOME */
    .cover-home {
        background-image: url(カバーホーム1.png);
    }
    .about {
        margin: 4rem auto 0;
    }

    /* DRINK */
    .cover-drink { 
        background-image: url(カバードリンク_デスクトップ版.png);
    }

    .grid {
        gap: 3rem 2rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .item img {
        margin-bottom: .5rem;
    }
    .item p {
        font-size: 1.5rem;
    }

    /* SWEETS */
    .cover-sweets { 
        background-image: url(カバースイーツ_デスクトップ版.png);
    }

    .grid {
        gap: 3rem 2rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .item img {
        margin-bottom: .5rem;
    }
    .item p {
        font-size: 1.5rem;
    }    

    /* フッター */
    .page-footer {
        background-image: url(フッター1.jpeg);
        padding-top: 5rem;
    }

    /* ヘッダー */
    .page-header {
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;
    }

    .main-nav {
        font-size: 2rem;
    }
}